.boxContatos h2 {
    color: #333; 
    border-bottom: 2px solid #ccc; 
    padding-bottom: 5px; 
    margin-top: 30px; 
    margin-bottom: 15px;
    font-size: 1.5em; 
}


.boxContatos p {
    line-height: 1.5; 
    margin-bottom: 20px;
    color: #555; 
}


.boxContatos p b {
    color: #FF7026; 
    display: block; 
    font-size: 1.1em;
}


.boxContatos ul {
    list-style: none; 
    padding: 0;
    margin-bottom: 30px;
}

.boxContatos ul li {
    margin-bottom: 8px; 
    font-weight: bold;
    color: #333;
    padding-left: 10px;
    border-left: 3px solid #FF7026; 
}


.boxContatos iframe {
    width: 100%; 
    max-width: 800px; 
    height: 400px; 
    border-radius: 5px; 
    display: block; 
    margin: 20px auto; 
    border: 1px solid #ccc; 
}

main h2:first-of-type {
    /* margin-top: 0 !important; */
}