header {
    
    background-color: #333; 
    color: white; 
    padding: 10px 5%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navHeader ul {
    list-style: none;
    display: flex; 
    justify-content: center; 
    background-color: #FF7026; 
    padding: 10px 0;
    margin: 0;
}

.navHeader li {
    margin: 0 15px; 
}

.navHeader a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}


.navHeader .pagAtual {
    background-color: #ff9900; 
    border-radius: 5px;
}
.navHeader .pagAtual a {
    border-bottom: none; 
}

.boxContato {
    background-color: rgb(155, 220, 236);
    padding: 15px; 
    border-radius: 5px; 
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

h2 {
    
}

ul {
    
}

iframe {
    
}