.boxContatos {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}

.boxContatos h2 {
    color: #333;
    /* border-bottom: 2px solid #ccc; */
    padding-bottom: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #FF7026;
    display: block;
}


.card {
    padding-inline: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.card01 {
    align-items: center;
    /* border: 2px solid #FF7026; */
}


.card01 img {
    flex: 1;
    width: 50%;
    max-height: 400px;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%);
    /* clip-path: polygon(20% 0, 49% 98%, 72% 0, 100% 71%, 100% 31%, 74% 100%, 46% 0, 18% 100%, 0 28%, 0 65%); */
}

.card02{
    gap: 20px;
}

.boxContatos h4 {
    color: #FF7026;
    display: block;
    font-size: 1.1em;
}

.boxContatos p,
.boxContatos a {
    margin-bottom: 10px;
    color: #333;
}


.boxContatos ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.boxContatos ul li {
    display: flex;
    font-weight: bold;
    border-left: 3px solid rgb(255, 112, 38);
}

.links {
    /* background-color: blanchedalmond; */
    display: flex;
    color: #333;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding: 5px;
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    transition: 0.5s;
}

.links img {
    border-radius: 5px;
}

.links:hover {
    background-color: rgba(255, 110, 38, 1);
    color: white;
}

.card02>div {
    flex: 1;
    /* background-color: aqua; */
}

.boxContatos iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
}

.boxIframe {
    position: relative;
    background-color: rgb(24, 66, 66);
}

.boxIframe::before, .boxIframe::after {
    content: ".";
    color: #FF7026;
    width: 15%;
    font-size: 1.5rem;
    background-color: #FF7026;
    position: absolute;
    clip-path: polygon(0 0, 100% 1%, 74% 32%, 100% 55%, 89% 74%, 100% 100%, 0 100%, 14% 64%, 0 42%, 14% 21%);
    z-index: 2;
    transform: rotate(45deg);
}
   
.boxIframe::before{
    right: -5%;
    top: 0%;

}

.boxIframe::after{
    left: -5%;
    bottom: 0%;
}

@media screen and (max-width: 650px) {

    .boxContatos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        flex-direction: column;
        /* align-items: center; */
        /* flex-wrap: nowrap; */
    }

    .card > * {
        width: 100%;

    }

    .card01 {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0px;
    }

    .card01 > div {
        padding-inline: 10px;
    }

    .card01 img {
        height: auto;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    }

    .boxContatos h2 {
        margin-top: 10px;
    }

}