*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'calibri', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

main{
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

main > div{
    flex: 1;
    
}


.teste{
    height: 200vh;
}


header {
    width: 100%;
    border-bottom: 2px solid rgb(242, 99, 40);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    /* padding: 10px; */
    color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.logoHeader {
    height: 100px;
}


.navHeader {
    display: flex;
    /* background-color: red; */
    width: 100%;
    transition: 0.5s;
}

.navHeader ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;

}


.navHeader ul li {
    
    flex: 1;
    text-align: center;
    padding: 5px;
    
    /* font-weight: bold; */
    font-size: 1.2rem;
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s;
    font-weight: bolder;
    padding: 10px;
}


.navHeader ul a {
    color: rgb(242, 99, 40);
    /* background-color: aqua; */
    padding: 5px 15px;
    cursor: pointer;
}

.navHeader li:hover a, .pagAtual a{
    color: white !important;
}

.navHeader ul li:hover, .pagAtual {
    background-color: rgb(242, 99, 40);
}



.btnHeader{
    background-color: rgb(242, 99, 40);
    color: white;
    border: 0px;
    padding: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

header button svg {
    height: 2rem;
    width: 2rem;
    background-color: blue;
    color: rgb(242, 99, 40);
}

.btnMenu,
.liBtnMenu {
    /* background-color: black; */
    display: none;
}


@media screen and (max-width: 650px) {

    .navHeader {
        background-color: rgb(241, 241, 241);
        position: absolute;
        width: 100%;
        left: -100%;
        height: 100vh;
        top: 0px;
    }

    .navHeader ul {
        list-style: none;
        width: 100%;
        /* background-color: aqua; */
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
    }

    .navHeader ul li {
        padding: 15px;
        border-block: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        flex: 0;
    }


    .btnMenu,
    .liBtnMEnu {
        display: flex;
    }

}