* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'calibri', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

main {
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main > div {
    flex: 1;
    max-width: 1500px;
}

.teste {
    height: 200vh;
}

header {
    width: 100%;
    border-bottom: 2px solid rgb(242, 99, 40);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.containerHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 1500px;
    flex: 1;
    /* background-color: red; */
}


.logoHeader {
    height: 100px;
}


.navHeader {
    display: flex;
    width: 100%;
    transition: 0.5s;
}

.navHeader ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;

}


.navHeader ul li {

    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s;
    font-weight: bolder;
    overflow: hidden;
}


.navHeader ul a {
    color: rgb(242, 99, 40);
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navHeader li:hover a,
.pagAtual a {
    color: white !important;
}

.navHeader ul li:hover,
.pagAtual {
    background-color: rgb(242, 99, 40);
}



.btnHeader {
    background-color: rgb(242, 99, 40);
    color: white;
    border: 0px;
    padding: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

header button svg {
    height: 2rem;
    width: 2rem;
    background-color: blue;
    color: rgb(242, 99, 40);
}

.btnMenu,
.liBtnMenu {
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    /* border-top: 2px solid rgb(242, 99, 40); */
    background-color: rgb(242, 99, 40);
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerFooter{
    flex: 1;
    justify-content: space-around;
    max-width: 1500px;
    /* background-color: aqua; */
}

.boxListas{
    display: flex; 
    /* align-items: center; */
}

.boxListas ul{
    flex: 1;
    list-style: none;
    padding: 10px;
    width: 100%;
}

.boxListas li{
    padding: 5px;
    color: white    ;
}

.boxListas li button{
    color: white;
    background-color: transparent;
    border: 0px;
    font-weight: bold;
    font-size: 125%;
}

.boxListas img{
    height: 100px;
    width: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.boxBottom{
    border-top: 2px solid white;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
}



@media screen and (max-width: 650px) {

    .navHeader {
        background-color: rgb(241, 241, 241);
        position: absolute;
        width: 100%;
        left: -100%;
        height: 100vh;
        top: 0px;
        z-index: 2;
    }

    .navHeader ul {
        list-style: none;
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
    }

    .navHeader ul li:hover{
        background-color: transparent;
    }

    .navHeader ul li {
        /* padding: 15px; */
        border-block: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        overflow: visible;
        flex: 0;
        border-radius: 0px;
    }

    .navHeader ul a {
        justify-content: flex-start;
        width: 100%;
        /* background-color: aqua; */
        padding: 20px;
        font-size: 1.5rem;
    }

    .btnMenu,
    .liBtnMenu {
        display: flex;
    }

    .liBtnMenu {
        align-items: center;
        justify-content: space-between;
        padding-inline: 20px;
    }

    .liBtnMenu img{
        width: 40%;
    }

    
    .btnHeader span{
        font-size: 2.5rem;
    }

    .boxListas{
        flex-direction: column;
        align-items: center;
    }

    .boxListas img{
        height: 100px;
        width: auto;
        margin: 10px;
    }
}