
.boxHome{
        width: 100%;
        /* overflow: hidden; */
    }


.imgBanner{
    width: 100%;
    box-shadow: 0px 10px 5px -5px  rgba(0, 0, 0, 0.5);
}

.titulo{
    padding: 20px;
    color: rgb(242, 99, 40);
    border-left: 5px solid rgb(242, 99, 40);
}


.destaques{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    /* flex-wrap: wrap; */
    gap: 30px;
    cursor: pointer;
}

.destaques div{
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border: 5px solid rgb(242, 99, 40);
}

.destaques img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
    padding: 0px;
}

.destaques img:hover {
    transform: scale(1.2);
}

.banner02{
    display: flex;
}

.slider{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.boxBtnsSlider{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.btnSlider{
    background-color: transparent;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border: 0px;
}

.btnSlider span{
    font-size: 30px;
    color: rgb(242, 99, 40);
}

.boxScrool{
    z-index: 1;
    width: 200%;
    display: flex;

    flex-shrink: 0;
    
}

.slide{
    width: calc(100%/10);
    /* background-color: rgba(0, 0, 0, 0.082); */
    /* height: 300px; */
    transition: 0.5s;
    
    padding: 5px;
}

.produto{
    width: 100%;
    height: 100%;
    border-block: 5px solid rgb(242, 99, 40);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.slide img{
    width: 100%;
    margin-inline: auto;
}

.slide p{
    text-decoration: line-through;
    color: gray;
}

.produto div{
display: flex;
justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

.slide span{
    height: 10px;
    width: 10px;
    display: inline-block;
    background-color: rgb(242, 99, 40);
    border-radius: 50%;
}

.card {
    padding-inline: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.card01 {
    align-items: center;
    /* border: 2px solid #FF7026; */
}


.card01 img {
    /* flex: 1; */
    justify-content: center;
    width: 50%;
    max-height: 400px;
    clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%);
    background-color: red;
    /* clip-path: polygon(20% 0, 49% 98%, 72% 0, 100% 71%, 100% 31%, 74% 100%, 46% 0, 18% 100%, 0 28%, 0 65%); */
}




@media screen and (max-width: 650px){
    .boxHome{
        width: 100%;
    }
    .slider{
        width: 100%;
    }

    .btnSlider span{
        font-size: 40px;
    }


    .boxScrool{
        width: 1000%;
    }

    .destaques{

        overflow: scroll;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .destaques div{
    border-radius: 50%;
   flex-shrink: 0;
    border: 5px solid rgb(242, 99, 40);
}

 .card {
        flex-direction: column;
        /* align-items: center; */
        /* flex-wrap: nowrap; */
    }

    .card > * {
        width: 100%;

    }

    .card01 {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0px;
    }

        .card01 > div {
        padding-inline: 10px;
    }

    .card01 img {
        height: auto;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    }




}