.boxSobre {
}

.imgTop{
    width: 100%;
}




.banner02{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner02 h2{
    position: absolute;
    font-size: 400%;
    color: white;
    /* background-color: #f26328; */
    /* padding: ; */
    
}

.banner02 span{
    font-size: 150%;
    text-shadow: 0px 0px 20px rgb(243, 145, 18);
    color: rgb(255, 155, 5);
    font-family: "Ink Free";
}

.card{
    display: flex;
    justify-content: center;
    width: 100%;
}

.card div{
    width: 55%;
    padding: 20px;
    background-color: aliceblue;
    clip-path: polygon(0 0, 98% 0, 100% 88%, 35% 100%, 0 100%);
}

.card img {
    height: 400px;
clip-path: polygon(7% 5%, 100% 0, 100% 100%, 35% 100%, 0 83%);
}

.card h2{
    font-size: 200%;
    color: #f26328;
}

.card p{
    font-size: 200%;
    /* background-color: aqua; */
}








.boxSobre h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.img-1,
.img-2,
.img-3 {
    max-width: 100%;
    height: auto;
}

.container.d-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container.d-flex img {
    margin-top: 10px;
}

.valores {
    background-color: #f26328;
    width: 100%;
    height: 10vh;
    color: rgb(247, 247, 247);

}

.boxSobre ul {
    display: flex;
    justify-content: center;
    gap: 300px;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
}

/*Responsividade*/
@media screen and (max-width: 768px) {

    .boxSobre h1 {
        font-size: 18px;
    }

    .boxSobre p {
        font-size: 14px;
        text-align: center;
    }

    .container.d-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .boxSobre ul {
        gap: 20px;
        font-size: 14px;
    }

    .valores {
        padding: 20px 0;
    }
}