* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxSobre {
    background-color: rgb(247, 247, 247);
}

p {
    font-size: 16px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.img-1,
.img-2,
.img-3 {
    max-width: 100%;
    height: auto;
}

.container.d-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container.d-flex img {
    margin-top: 10px;
}

.valores {
    background-color: #f26328;
    width: 100%;
    height: 10vh;
    color: rgb(247, 247, 247);

}

ul {
    display: flex;
    justify-content: center;
    gap: 300px;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
}

/*Responsividade*/
@media screen and (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .boxSobre {
        background-color: rgb(247, 247, 247);
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .img-1,.img-2,.img-3 {
        max-width: 100%;
        height: auto;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 30px;
        font-size: 14px;
        font-weight: bold;
        list-style: none;
    }

    .valores {
        background-color: #f26328;
        width: 100%;
        height: 10vh;
        color: rgb(247, 247, 247);

    }
}