.imgTop {
    width: 100%;
}

.banner02 {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

.banner02 img {
    width: 100%;
    clip-path: polygon(0 21%, 3% 0, 19% 3%, 50% 0, 100% 0, 100% 68%, 97% 84%, 100% 100%, 65% 99%, 38% 100%, 30% 96%, 0 100%, 19% 94%, 0 95%);
}

.banner02 h2 {
    position: absolute;
    font-size: 400%;
    color: white;
}

.banner02 span {
    font-size: 150%;
    text-shadow: 0px 0px 20px #f26328;
    color: #f26328;
    font-family: "Ink Free";
}

.sobre{
    width: 70%;
    margin: 10px;
}

.sobre h2{
    margin-bottom: 10px;
}

.sobre p{
    font-size: 110%;
    text-align: justify;
}

.card {
    display: flex;
    width: 100%;
    margin-block: 2.5%;
    position: relative;
}

.card div {
    width: 55%;
    padding: 20px;
    background-color: #f26328;
   
}

.card img {
    height: 400px;
}

.card h2 {
    font-size: 200%;
    color: #EFECE9;
}

.card p {
    font-size: 175%;
    color: #EFECE9;
    text-align: justify;
}

.card:nth-child(odd) {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.card01 img {
    clip-path: polygon(0 0, 75% 0%, 100% 10%, 100% 42%, 95% 95%, 0 100%);
}

.card01 div {
    clip-path: polygon(3% 77%, 0 32%, 0 0, 100% 0, 100% 100%, 13% 98%);
}

.card02 img {
    clip-path: polygon(7% 5%, 100% 0, 100% 100%, 35% 100%, 0 83%);
}

.card02 div {
    clip-path: polygon(0 0, 98% 0, 100% 88%, 35% 100%, 0 100%);
}

.card03 img {
    clip-path: polygon(0 0, 75% 0%, 100% 10%, 100% 42%, 95% 95%, 0 100%);
}

.card03 div {
    clip-path: polygon(3% 77%, 0 32%, 0 0, 100% 0, 100% 100%, 13% 98%);
    width: fit-content;
}


.card03 ul{
    list-style: none;
    color: white;
    font-size: 150%;

    /* display: flex; */
}

.card03 li{
    background-color: white;
    width: fit-content;
    color: #f26328;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    clip-path: polygon(45% 1%, 100% 0, 97% 19%, 100% 91%, 76% 100%, 21% 93%, 8% 100%, 0 82%, 0 28%, 8% 3%);
}

.card03 li:nth-child(even){
    clip-path: polygon(54% 7%, 37% 0, 76% 0, 98% 5%, 99% 61%, 98% 93%, 53% 100%, 0 94%, 2% 46%, 0 2%);
}







/*Responsividade*/
@media screen and (max-width: 650px) {

    .banner02 {
        flex-direction: column-reverse;
        align-items: center;
        background-color: #EFECE9;
        text-align: center;
        padding: 0px;
    }

    .banner02 img {
        width: 100%;
        clip-path: none;
        animation: none;
    }

    .banner02 h2 {
        width: 100%;
        padding: 20px 0;
        position: static;
        font-size: 200%;
        background: linear-gradient(
            180deg,
            rgba(242, 101, 40, 0.25) 0%,
            transparent
        );
    }

    .sobre{
        width: 90%;
    }

    .card{
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin: 0px;
    }

    .card:nth-child(odd) {
    justify-content: flex-end;
    flex-direction: column;
}

.ocultar{
    display: none;
}

    .card div {
        width: 100%;
        font-size: 100%;
        position: absolute;

    }

    .card p{
        font-size: 110%;
    }

    .card img{
        clip-path: none;
        width: 100%;
        height: auto;
    }

    .card01 div {
        clip-path: polygon(89% 6%, 61% 0, 100% 0, 100% 100%, 0 100%, 0 3%, 26% 0);
    }

    .card02 div {
        clip-path: polygon(87% 10%, 84% 0, 100% 12%, 100% 100%, 0 100%, 0 0, 32% 1%);
    }

    .card03 div {
clip-path: polygon(41% 0, 96% 3%, 100% 38%, 100% 100%, 0 100%, 0 0, 15% 4%);
    }
}
