*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.boxSobre{
    background-color: rgb(247, 247, 247);
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:3vh;
}

.imagem{
    height:50vh;
    width:20vw;
}

/*Responsividade*/
@media screen and(max-width: 768px){
    
    *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.boxSobre{
    background-color: rgb(247, 247, 247);
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:3vh;
    font-size: 14px;
}
p{
    font-size: 12px;
}
img{
    height:20vh;
    width:50vw;
}
}
