* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxSobre {
    background-color: rgb(247, 247, 247);
}

p {
    font-size: 16px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.img-1,
.img-2,
.img-3 {
    max-width: 100%;
    height: auto;
}

.container.d-flex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container.d-flex img {
    margin-top: 10px;
}

.valores {
    background-color: #f26328;
    width: 100%;
    height: 10vh;
    color: rgb(247, 247, 247);

}

ul {
    display: flex;
    justify-content: center;
    gap: 300px;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
}

/*Responsividade*/
@media screen and (max-width: 768px) {

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
        text-align: center;
    }

    .container.d-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    ul {
        gap: 20px;
        font-size: 14px;
    }

    .valores {
        padding: 20px 0;
    }
}