.imgTop {
    width: 100%;
}

.sobrenos h1 {
    color: #f26328;
}

.sobrenos p {
    color: #f26328;
    font-weight: bold;
    font-size: 130%;
}

.banner02 {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner02 img {
    width: 100%;
    animation: destacar infinite linear 10s;
}

.banner02 h2 {
    position: absolute;
    font-size: 400%;
    color: white;
    /* background-color: #f26328; */
    /* padding: ; */

}

.banner02 span {
    font-size: 150%;
    text-shadow: 0px 0px 20px #f26328;
    color: #f26328;
    font-family: "Ink Free";
}

.card {
    display: flex;
    width: 100%;
    margin-block: 2.5%;
}

.card div {
    width: 55%;
    padding: 20px;
    background-color: #f26328;
}

.card img {
    height: 400px;
}

.card h2 {
    font-size: 200%;
    color: #EFECE9;
}

.card p {
    font-size: 200%;
    color: #EFECE9;
}

.card03 li {
    list-style: none;
    font-size: 200%;
    color: #EFECE9;
}

.card:nth-child(even) {
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.card01 img {
    clip-path: polygon(0 0, 75% 0%, 100% 10%, 100% 42%, 95% 95%, 0 100%);
}

.card01 div {
    clip-path: polygon(3% 77%, 0 32%, 0 0, 100% 0, 100% 100%, 13% 98%);
}

.card02 img {
    clip-path: polygon(7% 5%, 100% 0, 100% 100%, 35% 100%, 0 83%);
}

.card02 div {
    clip-path: polygon(0 0, 98% 0, 100% 88%, 35% 100%, 0 100%);
}

.card03 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.card03 li {
    list-style: none;
    font-size: 200%;
    color: #EFECE9;
}

.card03 .valores {
    width: 100%;
    text-align: center;
}

.card03 div {
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Responsividade*/
@media screen and (max-width: 650px) {



    .banner02 {
        flex-direction: column-reverse;
        align-items: center;
        background-color: #EFECE9;
        text-align: center;
    }

    .banner02 img {
        width: 100%;
        clip-path: none;
        animation: none;
    }

    .banner02 h2 {
        width: 100%;
        padding: 20px 0;
        position: static;
        font-size: 200%;
        color: #f26328;
        background: linear-gradient(
            180deg,
            rgba(242, 101, 40, 0.25) 0%,
            transparent
        );
    }

    .card {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin: 40px 0;
    }
    .card div {
        position: static;
        width: 100%;
        padding: 20px;
        clip-path: none;
        background-color: #f26328;
    }

    .card img {
        width: 100%;
        height: auto;
        clip-path: none;
    }

    .card h2 {
        color: #EFECE9;
        font-size: 160%;
        text-align: center;
    }

    .card p {
        font-size: 100%;
        color: #EFECE9;
        text-align: justify;
    }
    .card:nth-child(even) {
        flex-direction: column;
    }
    .card03 .valores {
        width: 100%;
        text-align: center;
    }

    .card03 ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        padding: 0;
    }

    .card03 li {
        font-size: 130%;
        color: #EFECE9;
        list-style: none;
        background: rgba(255,255,255,0.1);
        padding: 6px 12px;
        border-radius: 8px;
    }

}
